
.icon-comment-empty:before { content: '\e800'; } /* '' */
.icon-bilodeau:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-picture:before { content: '\e803'; } /* '' */
.icon-facebook-squared:before { content: '\e804'; } /* '' */
.icon-instagramm:before { content: '\e805'; } /* '' */
.icon-angle-circled-left:before { content: '\e806'; } /* '' */
.icon-angle-circled-right:before { content: '\e807'; } /* '' */
.icon-cancel-circled:before { content: '\e808'; } /* '' */
.icon-plus-circled:before { content: '\e809'; } /* '' */
.icon-minus-circled:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-chat-empty:before { content: '\e80c'; } /* '' */
.icon-recycle:before { content: '\e80d'; } /* '' */
.icon-tree:before { content: '\e80e'; } /* '' */
.icon-leaves:before { content: '\e80f'; } /* '' */
.icon-help:before { content: '\e810'; } /* '' */
.icon-home:before { content: '\e811'; } /* '' */
.icon-mail:before { content: '\e812'; } /* '' */
.icon-sitemap:before { content: '\e813'; } /* '' */
.icon-block:before { content: '\e814'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-angle-down:before { content: '\e816'; } /* '' */
.icon-angle-up:before { content: '\e817'; } /* '' */
.icon-angle-right:before { content: '\e818'; } /* '' */
.icon-angle-left:before { content: '\e819'; } /* '' */
.icon-up-open:before { content: '\e81a'; } /* '' */
.icon-right-open:before { content: '\e81b'; } /* '' */
.icon-left-open:before { content: '\e81c'; } /* '' */
.icon-down-open:before { content: '\e81d'; } /* '' */